.customers {
  &__container{

}
  &__header{
    max-width: 555px;
    margin: 0 auto;
    text-align: center;
}
  &__title{
    max-width: 450px;
    margin: 0 auto;
}
  &__desc{
    margin-bottom: 60px;
  }
}