.feature {
  padding-bottom: 130px;
  &__container{
      display:flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 170px;
}
  &__img{

}
  &__info{

}
  &__title{

}
  &__desc{

}
  &__list{

}
  &__item{

}
}