.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: $font;
  color: $text-color;
  line-height: 1;
  font-weight: 400;
}
.btn {
  display: inline-block;
  padding: 13px 45px;
  border-radius: 100rem;
  font-family: $font;
  line-height: 1;
  font-weight: 500;
  cursor: pointer;
  &__primary {
    background: $primary-color;
    font-weight: 700;
    color: $white-color;
    box-shadow: 0 2px 2px ;
    border-radius: 0.4rem;
    box-shadow: 0 30px 54px -5px rgba(245, 56, 56, 0.35);
  }
  &__outline {
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    font-weight: 500;
  }
}
