.header {
  padding-top: 50px;
  &__container {
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  &__auth {
    display:flex;
    align-items: center;
    gap: 0 30px;
    &-signin {
      color: $heading-color;
      font-weight: 500;
    }
    &-signup {
      color: $primary-color;
      border: 1px solid $primary-color;
      padding: 10px;
    }
    
  }
}
.menu {
  display: flex;
  align-self: center;
  gap: 0 40px;
  &-link {
    color: inherit;
  }
}