$font: "Rubik", sans-serif;
$text-color: #4f5665;
$heading-color: #0b132a;
$primary-color: #f53838;
$gray-color: #DDE0E4;
$gray-light-color: #fbfbfb;
$gray-dark-color: #dde0e4;
$white-color: #fff;
$bg-gray: linear-gradient(180deg, #f8f8f8 -45.04%, rgba(248,248,248, 0) 88.56%)